<div class="form_container">
  <div class="header-container">
    <h1 class="form-title">Scrivi una Recensione</h1>
  </div>

  <form (ngSubmit)="inviaRecensione()" class="review-form">
    <div class="form-row">
      <div class="form-group half-width">
        <mat-form-field appearance="fill" class="full-width big-field">
          <mat-label>Nome</mat-label>
          <input class="name-box"
            matInput
            type="text" 
            id="nome" 
            [(ngModel)]="nome" 
            name="nome"
            placeholder="Il tuo nome"
            required>
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
      </div>


      <div class="form-group half-width">
        <mat-form-field appearance="fill" class="full-width big-field">
          <mat-label>Cognome</mat-label>
          <input class="surname-box"
            matInput
            type="text" 
            id="cognome" 
            [(ngModel)]="cognome" 
            name="cognome"
            placeholder="Il tuo cognome"
            required>
          <mat-icon matPrefix>badge</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <mat-form-field appearance="fill" class="full-width big-field textarea-field">
        <mat-label>Recensione</mat-label>
        <textarea class="rev-box"
          matInput
          id="recensione" 
          [(ngModel)]="testoRecensione" 
          name="testoRecensione"
          rows="5"
          placeholder="La tua recensione ..."
          required></textarea>
      </mat-form-field>
    </div>


    <div class="id-container">
      <form>
        <h4 class="title-over-id">Seleziona il piatto da recensire</h4>
        <mat-form-field appearance="fill" class="full-width big-field">
          <mat-label>voglio recensire..</mat-label>
          <mat-select [(ngModel)]="idProdotto" name="food">
            @for (food of foodInMemory; track food) {
              <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </form>

    </div>
    
    
    <!-- Vecchio id manuale -->

    <!-- <mat-form-field appearance="fill" class="full-width big-field textarea-field">
      <mat-label>id Prodotto</mat-label>
      <textarea class="id-box"
        matInput
        id="prodotto" 
        [(ngModel)]="idProdotto" 
        name="idProdotto"
        required></textarea>
    </mat-form-field>

      -->

    <div class="button-container">
      <a><button 
        mat-raised-button 
        color="primary"
        type="submit"
        [disabled]="isSubmitting"
        class="submit-button">
        
        <span *ngIf="!isSubmitting; else loading">
          Pubblica Recensione
        </span>
        
        <ng-template #loading>
          Invio in corso
        </ng-template>
      </button> </a>
    </div>
  </form>
</div>