.main-container-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
}

.container-img-01, .container-img-02, 
.container-img-03, .container-img-04,
.container-img-05, .container-img-06 {
  width: 32%; 
  margin-bottom: 15px;
}

.example-card {
  max-width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

mat-card-header {
  flex-shrink: 0; 
}

img[mat-card-image] {
  width: 100%;
  height: 250px;
  object-fit: cover;
  flex-shrink: 0;
}

mat-card-content {
  flex-grow: 1;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
}

mat-card-content > div {
  max-height: 150px; 
  overflow-y: auto; 
  flex-grow: 1;
}

mat-card-content > div > div {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

@media (min-width: 1200px) {
  .container-img-01, .container-img-02, 
  .container-img-03, .container-img-04,
  .container-img-05, .container-img-06 {
    width: calc(33.333% - 10px);
  }
}


@media (max-width: 767px) {
  .container-img-01, .container-img-02, 
  .container-img-03, .container-img-04,
  .container-img-05, .container-img-06 {
    width: 100%;
  }
}

.id-class{
  text-align: center;
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 5px;

}
.titlecard {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.example-header-image {
  background-image: url('https://www.svgrepo.com/show/2624/big-star-button.svg');
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-bottom: 10px;
}

mat-card-content p {
  margin: 5px 0;
  font-size: 14px;
}