.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url('https://www.svgrepo.com/show/2624/big-star-button.svg');
  background-size: cover;
  margin-right: auto;
}

.container-img-01{
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
}
.container-img-02{
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;
  margin-top: 15px;
}

.titlecard{
  text-align: left;
}

.image{
  width:100%;
  height: 100%;
  object-fit: cover;
}